# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local environment files
.env
.env.*
!.env.example
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# test and editor output
/coverage/
.DS_Store
.idea/
.vscode/
